@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Quiz Management and Evaluation</h2>
<hr />

<ul>
    <li><a asp-area="Admin" asp-controller="Quizzes" asp-action="Index">📘 Manage Quizzes</a></li>
</ul>
